{% extends 'base.html' %}

{% block title %} About us {% endblock title %} 

{% block body %}
<div class="conatiner my5 px-4 py-5 " >
    <img src="https://source.unsplash.com/1500x500/?quotes icecream"
              class="d-block w-100" alt="...">
</div>
<div class="text">
    <h1 id="aboutus">About us</h1>
    <p class="about">This is website made by Avira Juyal for demonstrating how a ice cream and cakes website can run.</p> 
    <p class="about"> For any suggestions and queries go to contact us page and send us a mail . ENJOY!! </p>

</div>


{% endblock body %} 