{% extends 'base.html' %}

{% block title %} Services {% endblock title %} 

{% block body %}

<h1 class="text-center">Select from our range of ice creams</h1>
<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://source.unsplash.com/1600x600/?Mango icecream"
              class="d-block w-100" alt="...">
            
            <div class="card-body">
              <p class="card-text">Mango Ice Cream</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm btn-outline-secondary" href="/buy">Buy</a>
                </div>
                <small class="text-muted">9 mins </small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://source.unsplash.com/1600x600/?Chocolate icecream"
              class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Chocolate Ice Cream </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm btn-outline-secondary" href="/buy">Buy</a>

                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://source.unsplash.com/1600x600/?oreo icecream"
              class="d-block w-100" alt="...">
            <div class="card-body">
              <p class="card-text">Oreo Ice Cream </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm btn-outline-secondary" href="/buy">Buy</a>
                </div>
                <small class="text-muted">9 mins</small>
            </div> 
    </div>

  </div>

{% endblock body %} 